.container {
  display: grid;
  grid-template-columns: 1fr 700px 1fr;
}

.containerLeft,
.containerRight {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.containerLeft {
  background-image: url("/img/synth.jpg");
  background-position: left;
  background-size: cover;
}

.containerRight {
  background-image: url("/img/synth.jpg");
  background-position: right;
  background-size: cover;
}

#canvas {
  background-color: black;
  position: relative;
  height: 750px;
  width: 700px;
}

.score {
  height: 50px;
  width: 100%;
  margin: 10px auto;
}

#toggleSound {
  height: 50px;
  width: 50px;
  margin: 10px auto;
}

#toggleSound i {
  height: 50px;
  width: 50px;
  color: white;
}

#toggledOff {
  display: none;
}

#toggledOn {
  display: inline;
}

span,
h3 {
  display: inline-block;
}

body {
  margin: 0;
  background-color: black;
}
