<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Feeding Records
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Feeding Records</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item *ngFor="let record of records | async; trackBy:trackItems; first as isFirst">
    <ion-label>
      <p *ngIf="isFirst">Last feed started {{record.startTime | timeSince}}</p>
      <strong>{{record.startTime | date: 'medium'}}</strong>
      <ion-text>Left: {{record.leftFeedingElapsedTime * 1000 | date:"mm:ss"}}</ion-text>
      <ion-text>Right: {{record.rightFeedingElapsedTime* 1000 | date:"mm:ss"}}</ion-text>
    </ion-label>
  </ion-item>


</ion-content>