<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Feeding Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Feeding</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row class="ion-justify-content-center time-text">
      <ion-text>Start Time:</ion-text>
    </ion-row>
    <ion-row class="ion-justify-content-center time-text">
      <ion-text>{{initialStartTime | date:"medium"}}</ion-text>
    </ion-row>
    <ion-row class="ion-justify-content-center time-buttons">
      <ion-col>
        <ion-button *ngIf="!leftBoobTimerOn" id="left-boob-button-play" class="circle-button" shape="round" size="large"
          (click)="startLeftBoobTimer()">
          <ion-icon name="play-outline"></ion-icon>
        </ion-button>
        <ion-button *ngIf="leftBoobTimerOn" id="left-boob-button-pause" class="circle-button pause-button" shape="round"
          size="large" (click)="pauseLeftBoobTimer()">
          <ion-icon name="pause-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button *ngIf="!rightBoobTimerOn" id="right-boob-button-play" class="circle-button" shape="round"
          size="large" (click)="startRightBoobTimer()">
          <ion-icon name="play-outline"></ion-icon>
        </ion-button>
        <ion-button *ngIf="rightBoobTimerOn" id="right-boob-button-pause" class="circle-button pause-button"
          shape="round" size="large" (click)="pauseRightBoobTimer()">
          <ion-icon name="pause-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="time-text">
      <ion-col>
        <ion-text>
          {{leftBoobElapsedSeconds * 1000 | date:"mm:ss"}}
        </ion-text>
      </ion-col>
      <ion-col>
        <ion-text>
          {{rightBoobElapsedSeconds * 1000 | date:"mm:ss"}}
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center time-text">
      <ion-text>Finish Time:</ion-text>
    </ion-row>
    <ion-row class="ion-justify-content-center time-text">
      <ion-text>{{endTime | date:"medium"}}</ion-text>
    </ion-row>

  </ion-grid>

</ion-content>
<ion-footer>
  <ion-grid>
    <!-- <ion-row class="ion-justify-content-center"> -->
    <ion-row>
      <ion-button [disabled]="!endTime" (click)="completeFeeding()" id="complete-button">Save</ion-button>
      <ion-button [disabled]="!endTime" (click)="reset()" id="reset-button">
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-footer>