<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Feeding
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Feeding</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-justify-content-center">
        <ion-button shape="round" size="large">
          Left
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button shape="round" size="large">
          Right
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-button>Complete Feeding</ion-button>
    </ion-row>
  </ion-grid>

</ion-content>